@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fellowship Tracker</h1>
    <p class="lead">Track church fellowship</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dash board 1</h2>
        <p>
            Dashboard to populate
        </p>
        <p><a class="btn btn-default" href="">Redirect&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dashboard to populat</h2>
        <p>Dashboard to populate</p>
        <p><a class="btn btn-default" href="">Redirect &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dashboard 3</h2>
        <p>Dashboard to populate</p>
        <p><a class="btn btn-default" href="">Redirect &raquo;</a></p>
    </div>
</div>